<%= turbo_frame_tag dom_id(workout) do %>
  <div class="flex justify-around mx-auto mb-4 px-8 py-6 rounded shadow bg-white hover:bg-gray-300 cursor-pointer">
    <div>
      <%= link_to workout.prepared_variant, user_workout_path(@user, workout), class: "hover:text-gray-500", data: {turbo: false} %>
    </div>
    <div>
      <p>Sets: <%= workout.setts.count %></p>
    </div>
    <div>
      <p>Total Workload: <%= workout.total_workload %></p>
    </div>
    <div>
      <p>Created: <%= workout.created_at.to_date %></p>
    </div>
      <% if current_user == @user %>
        <div>
          <%= link_to 'edit', edit_user_workout_path(@user, workout), data: { turbo: false } %>
        </div>
        <div>
          <%= link_to 'x', user_workout_path(@user, workout), method: :delete, class: "flex items-center justify-center h-8 w-8 rounded-full bg-white hover:bg-gray-100 border-gray-400 border-2" %>
        </div>
      <% end %>
  </div>
<% end %>