<div class="flex justify-center">
  <div class="flex m-2 px-4 py-4 rounded shadow bg-white">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar.variant(resize_to_limit: [250, 250]).processed %>
    <% else %>
      <%= image_tag 'green', size: "250x250" %>
    <% end %>
  </div>  

  <div class="flex m-2 px-8 py-6 rounded shadow bg-white">
    <div class="flex flex-col justify-evenly">
      <div class="font-bold">
        <%= @user.username %>
      </div>

      <div class="">
        Rank: <%= @user.rank %>
      </div>

      <div class="">
        Sex: <%= @user.gender %>
      </div>

      <div>
        BW: <%= @user.bodyweight %>Kg
      </div>

      <div class="">
        Age: <%= @user.age %>
      </div>

      <div class="">
        Best Wilks: <%= @user.best_wilks %>
      </div>

      <div class="">
        Total Workouts: <%= @user.workouts.count %>
      </div>
      
      <div class="">
        Date Joined: <%= @user.created_at.to_date %>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-evenly md:w-auto m-2 px-8 py-2 rounded shadow bg-white">
  <div class="font-bold">
    1RM PBs
  </div>
  <div>
    Squat: <%= @best_squat %>Kg
  </div>
  <div>
    Bench: <%= @best_bench %>Kg
  </div>
  <div>
    Deadlift: <%= @best_deadlift %>Kg
  </div>
</div>

<div class="flex justify-evenly m-2 px-8 py-2 rounded shadow bg-white">
  <div class="font-bold">
    Projected PBs
  </div>
  <div>
    Squat: <%= @best_projected_squat %>Kg
  </div>
  <div>
    Bench: <%= @best_projected_bench %>Kg
  </div>
  <div>
    Deadlift: <%= @best_projected_deadlift %>Kg
  </div>
</div>

<div class="flex flex-row">
  <%= render 'sett_volume_history' %>
  <%= render 'wilks_history' %>
</div>

<div class="flex flex-row">
  <%= render 'workout_volume_history' %>
  <%= render 'one_rep_max_history' %>
</div>

<div class="flex flex-row">
  <div class="m-2 px-8 py-6 rounded shadow bg-white w-1/2">
    <span class="font-medium">
      Workouts
    </span>

    <span>
      <%= form_with(url: user_workouts_filter_path(@user.id), method: :get) do |f| %>
        <%= f.label :variant, "Variant", class: "font-bold" %>
        <%= f.select :variant, Workout.variants.map {|k, v| [k.capitalize, k ]}.unshift(["All", :all]), { selected: 'All' }, { class: "" } %>

        <%= f.submit("filter", class: "items-center justify-center bg-gray-100 hover:bg-gray-200 h-6 w-24") %>
      <% end %>
    </span>

    <div id="workouts">    
      <%= render 'workouts', workouts: @workouts %>
    </div>
  </div>

  <div class="m-2 px-8 py-6 rounded shadow bg-white w-1/2">
    <span class="font-medium">
      Sets (<%= @user.setts.count %> total)
    </span>

    <span>
      <%= form_with(url: user_setts_filter_path(@user.id), method: :get) do |f| %>
        <%= f.label :lift, "Lift", class: "font-bold" %>
        <%= f.select :lift, Lift.all.pluck(:name, :id).unshift(["All", :all]), { selected: 'All' }, { class: "" } %>

        <%= f.submit("filter", class: "items-center justify-center bg-gray-100 hover:bg-gray-200 h-6 w-24") %>
      <% end %>
    </span>

    <span id="sett_count">
      <% unless @filtered_setts_count.nil? %>
        <%= render 'message', filtered_setts_count: @filtered_setts_count %>
      <% end %>
    </span>

    <div id="setts">
      <%= render 'setts', setts: @setts %>
    </div>
  </div>
</div>

<% if current_user == @user %>
  <div class="flex justify-center mt-4">
    <%= link_to 'New Work Out', new_user_workout_path, class: "inline-block bg-blue-500 hover:bg-blue-600 text-white rounded shadow cursor-pointer font-bold px-3 py-2" %>
  </div>
<% end %>