<p id="notice"><%= notice %></p>


<div class="px-8 py-6 rounded shadow bg-white">
  <div class="flex justify-evenly">
    <div class="font-bold">
      User: <%= @user.username %>
    </div>
    <div class="font-bold">
      Best Wilks: <%= @user.best_wilks %>
    </div>
      <div class="font-bold">
      <%= link_to 'Show Wilks History', user_wilks_history_path(@user) %>
    </div>
  </div>
</div>

<div class="px-8 py-6 rounded shadow bg-white" id="columnchart_material" style="width: auto; height: 600px;">
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = JSON.parse('<%= @lift_data.to_json.html_safe -%>');
    data = [['Day/Month', 'Volume', {role: "style"}]].concat(data);
    data = google.visualization.arrayToDataTable(data);
    var options = {
      chart: {
        title: 'Volume/time',
        subtitle: 'By lift'
      }
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
<% end -%>

<div class="px-8 py-6 rounded shadow bg-white">
  <table class="w-full leading-10">
    <thead class="text-left border-b">
      <tr class="pb-1">
        <th>Type</th>
        <th>Date</th>
        <th>Sets</th>
        <th>Total Workload</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @workouts.each do |workout| %>
        <tr>
          <td><%= link_to workout.prepared_variant, user_workout_path(@user, workout) %></td>
          <td><%= workout.created_at.to_date %></td>
          <td><%= workout.setts.count %></td>
          <td><%= workout.total_workload %></td>
          <td class="text-right">
            <% if current_user == @user %>
              <%= link_to 'Edit', edit_user_workout_path(@user, workout) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user == @user %>
  <div class="flex justify-center mt-4">
    <%= link_to 'New Work Out', new_user_workout_path, class: "inline-block bg-blue-500 hover:bg-blue-600 text-white rounded shadow cursor-pointer font-bold px-3 py-2" %>
  </div>
<% end %>