<div class="mx-auto px-8 py-6 rounded shadow bg-white">
  <div class="font-bold my-2">
    <%= link_to @user.username, user_workouts_path(@user.id) %>
  </div>

  <div class="flex flex-col space-y-4">
    <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
      <span class="font-bold">
      Variant
      </span>
      <span>
        <%= @workout.variant.capitalize %>
      </span>
    </div>

    <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
      <span class="font-bold">
         Total Sets
      </span>
      <span>
        <%= @workout.setts.count %>
      </span>
    </div>

    <div class="flex items-center justify-between bg-gray-100 py-3 px-6 rounded">
      <span class="font-bold">
         Total Workload
      </span>
      <span>
        <%= @workout.total_workload %>
      </span>
    </div>
  </div>
</div>

<div class="px-8 py-6 rounded shadow bg-white">
  <% unless @workout.setts.count.zero? %>
    <table class="w-full leading-10">
      <thead class="text-left border-b">
        <tr class="pb-1">
          <th>Lift</th>
          <th>Weight</th>
          <th>Reps</th>
          <th>Workload</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @workout.setts.each do |sett| %>
          <tr>
            <td><%= sett.lift.name %></td>
            <td><%= sett.weight %></td>
            <td><%= sett.reps %></td>
            <td><%= sett.workload %></td>
            <td class="text-right">
              <% if current_user == @user %>
                <%= link_to 'Edit', edit_sett_path(sett) %> | <%= link_to 'Destroy', sett, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if current_user == @user %>
    <div class="flex justify-center mt-4 justify-evenly">
      <%= link_to 'Edit Work Out', edit_user_workout_path(@user, @workout), class: "inline-block bg-blue-500 hover:bg-blue-600 text-white rounded shadow cursor-pointer font-bold px-3 py-2" %>
      <%= link_to 'Delete Work Out', user_workout_path(user_id: @user.id, id: @workout.id), method: :delete, class: "inline-block bg-blue-500 hover:bg-blue-600 text-white rounded shadow cursor-pointer font-bold px-3 py-2" %>
    </div>
  <% end %>
</div>
