<h1>Editing Comment</h1>

<%= turbo_frame_tag dom_id(@comment) do %>
  <div class="container">
    <%= render 'form', comment: @comment %>
    <%= link_to 'Cancel', @comment %>
  </div>
<% end %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>