<p id="notice"><%= notice %></p>

<h1>New Comment</h1>

<%= turbo_stream_from "comments" %>

<%= turbo_frame_tag "comment_form" do %>
  <%= render 'comments/form', comment: @comment %>
<% end %>

<h1>Comments</h1>

<%= turbo_frame_tag "comments" do %>
  <%= render @comments %>
<% end %>