<% @users.each do |user| %>
  <%= link_to user_workouts_path(user.id) do %>
    <div class="flex mb-4 px-8 py-6 rounded shadow bg-white hover:bg-gray-300 cursor-pointer">
      <div class="flex items-center w-20">
        <div class="text-3xl font-mono italic">
          #<%= user.rank%>
        </div>
      </div>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar.variant(resize_to_limit: [150, 150]).processed %>
      <% else %>
        <%= image_tag 'green', size: "150x150" %>
      <% end %>

      <div class="container px-4 justify-evenly">
        <div class="font-bold">
          <%= user.username %>
        </div>
        <div class="flex flex-col">
          <div>Age: <%= user.age %></div>
          <div>Sex: <%= user.gender %></div>
          <div>Wilks: <%= user.best_wilks || 0 %></div>
          <div>BW: <%= user.bodyweight %>Kg</div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>