<p id="notice"><%= notice %></p>

<div class="px-8 py-6 rounded shadow bg-white">
  <table class="w-full leading-10">
    <thead class="text-left border-b">
      <tr class="pb-1">
        <th>User</th>
        <th>Age</th>
        <th>Sets</th>
        <th>Wilks</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_workouts_path(user.id), class: "hover:text-gray-500" %></td>
          <td><%= user.age %></td>
          <td><%= user.setts.count %></td>
          <td><%= user.best_wilks || 0 %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
