<div class="flex mx-auto mb-4 px-8 py-2">
  <%= form_with(url: '/users', method: 'get', id: 'filter-form') do |f| %>
    <%= f.text_field(:username) %>

    <%= f.label :male %>
    <%= f.check_box :male, {}, 0, nil %>

    <%= f.label :female %>
    <%= f.check_box :female, {}, 1, nil %>

    BW: 
    <%= f.label "40-60" %>
    <%= f.check_box :_40, {}, "40,60", nil %>

    <%= f.label "61-80" %>
    <%= f.check_box :_61, {}, "61,80", nil %>

    <%= f.label "81-100" %>
    <%= f.check_box :_81, {}, "81,100", nil %>

    <%= f.submit("Search", id: "submit", :class => "mr-2 text-base font-medium text-gray-300 px-4 py-1 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-800 hover:bg-gray-900") %>
  <% end %>
</div>


<div id="users">
  <%= render 'user', users: @users %>
</div>