<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bodyweight:</strong>
  <%= @user.bodyweight %>
</p>

<p>
<%= link_to 'Edit User', edit_user_path(@user) %>
</p>

<p>
<%= link_to 'New Work Out', new_work_out_path %>
</p>
<p>
  
<% if @user.work_outs.present? %>
<table align="center">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Type</th>
      <th>Total Workload</th>
      <th>Total Sets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.work_outs.each do |workout| %>
      <tr>
        <td><%= workout.created_at.to_date %></td>
        <td><%= workout.type %></td>
        <td><%= workout.total_workload %></td>
        <td><%= workout.total_sets %></td>
        <td><%= link_to "Show", work_out_path(workout) %></td>
        <td><%= link_to "Edit", edit_work_out_path(workout) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
</p>