<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bodyweight:</strong>
  <%= @user.bodyweight %>
</p>

<p>
<%= link_to 'Edit User', edit_user_path(@user) %>
</p>

<p>
<%= link_to 'New Work Unit', new_work_unit_path %>
</p>
<p>
<table>
  <thead>
    <tr>
      <th>Lift</th>
      <th>Weight</th>
      <th>Reps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.work_units.each do |work| %>
      <tr>
        <td><%= work.lift.name %></td>
        <td><%= work.weight %></td>
        <td><%= work.reps %></td>
        <td><%= link_to "Edit", edit_work_unit_path(work) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>