<%= form_with(model: work_out, local: true) do |form| %>
  <% if work_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_out.errors.count, "error") %> prohibited this work_out from being saved:</h2>

      <ul>
      <% work_out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :total_workload %>
    <%= form.number_field :total_workload %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
