<!DOCTYPE html>
<html>
  <head>
    <title>Gym App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100 text-gray-900 tracking-wider leading-normal">
    <div class="container mx-auto max-w-screen-lg px-4">
      <!-- nav -->
      <div class="flex justify-evenly my-8 font-sans font-bold break-normal text-2xl">
        <%= render "shared/header" %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
