<!DOCTYPE html>
<html style="text-align:center">
  <head>
    <title>GymApp</title>
    <%= render 'layouts/header' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="text-align:center">
    <%= yield %>
  </body>
</html>
